body{
  font-family: Arial;
}

#select{
  background-color: transparent;
  color: gold;
  border: 1px solid gold;
}

.background{
  background-color: black;
  opacity: 95%
}

.card-collection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;

}

.standout{
  box-shadow: gold 2px 2px 4px 5px;
  transform:rotate(1deg);
}